In [3]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import yfinance as yf
from datetime import datetime
import os

In [63]:
def GetRendement(x):
    ### 1: creeeren van brug tussen sql query en database
    ### 2a: bepaal de eindwaarde per dag voor klant x
    ### 2b: bepaal de stortingen per dag voor klant x
    ### 2c: bepaal de deponeringen per dag voor klant x
    ### 2d: bepaal de onttrekkingen per dag voor klant x
    ### 2e: bepaal de lichtingen per dag voor klant x
     
    
    ### 1: creeeren van brug tussen sql query en database
    engine = create_engine('sqlite:///DatabaseVB1.db')
    
    
    ### 2a: bepaal de eindwaarde per dag voor klant x (datum, eindwaarde)
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Current_Value_in_EUR"),2) as "Eind Waarde" FROM Posrecon WHERE "Account_Number" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')
    
    
    ### 2b: bepaal de stortingen per dag voor klant x (datum, stortingen)
    ### (som van kolom invoice amount, indien OF (Transaction Type Code=O-G en Reference Code=5026) OF (Transaction Type Code=O-G en Reference Code=5000 en kolom invoice amount >0)
    df_stortingen = pd.read_sql (f'''  SELECT "Datum", sum("Invoice_Amount") as "Stortingen" FROM Traderecon WHERE "Account_Number" = "{x}"  AND "Reference_Code" = 5026 OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2c: bepaal de deponeringen per dag voor klant x (datum, deponeringen)
    ### som van kolom Deposit Value, indien (1) Transaction Type Code = D, of (2) Transaction Type Code = O en Deposit value > 0. 
    
    df_deponeringen = pd.read_sql (f''' SELECT "Datum", sum("Deposit_Value") as Deponeringen FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "D") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2d: bepaal de onttrekkingen per dag voor klant x (datum, onttrekkingen)
    ### (som van kolom invoice amount *-1, indien (1) Reference Code=5025, (2) Reference Code=5000 en invoice amount < 0.   
    df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
    df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')


    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data)
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    df_final['Eind Waarde'] = df_final['Eind Waarde'].fillna(df_final['Start Waarde'] + df_final['Stortingen'] + 
                                                             df_final['Deponeringen'] - df_final['Onttrekkingen'] - 
                                                             df_final['Lichtingen'])
    
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] + df_final['Deponeringen'] - df_final['Onttrekkingen'] - df_final['Lichtingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)  
    
    
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)

    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [64]:
klant = GetRendement(295704)
reknr = 295704
start = '2019-12-25'
end = '2020-10-14'

In [65]:
engine = create_engine('sqlite:///DatabaseVB1.db')
database_start_date = pd.read_sql(f'''
    select datum from posrecon where Account_Number = "{reknr}"
    union
    select datum from traderecon where Account_Number = "{reknr}"
    order by datum asc limit 1;
    ''', con = engine)

database_end_date = pd.read_sql(f'''
    select datum from posrecon where Account_Number = "{reknr}"
    union
    select datum from traderecon where Account_Number = "{reknr}"
    order by datum desc limit 1;
    ''', con = engine)

new_start_date = pd.to_datetime(database_start_date['Datum'][0]).strftime("%Y-%m-%d")
new_end_date = pd.to_datetime(database_end_date['Datum'][0]).strftime("%Y-%m-%d")


# # Hier vergelijken we gekozen start/eind datum en de start/eind datum in de database. Als de gekozen start/eind datum kleiner/groter is dan wat er in de database staat zal deze de nieuwe
# # start/eind datum worden

if start < new_start_date:
    start = new_start_date
if end > new_end_date:
    end = new_end_date

In [66]:
def ZoekPortfOntwikkeling(data, sd, ed):

    df = data.loc[sd:ed]
    portf_startwaarde = df.loc[sd,['Start Waarde']][0]
    portf_stortingen = df.loc[sd:ed,['Stortingen']].sum()[0]
    portf_deponeringen = df.loc[sd:ed,['Deponeringen']].sum()[0]
    portf_onttrekkingen = df.loc[sd:ed,['Onttrekkingen']].sum()[0]
    portf_lichtingen = df.loc[sd:ed,['Lichtingen']].sum()[0]
    portf_eindwaarde = df.loc[ed,['Eind Waarde']][0]
    portf_startcumrendement = df.loc[sd,['SW Portfolio Cumulatief Rendement']][0]
    portf_eindcumrendement = df.loc[ed,['EW Portfolio Cumulatief Rendement']][0]
    portf_absrendement = portf_eindwaarde - portf_startwaarde - portf_stortingen - portf_deponeringen + portf_onttrekkingen + portf_lichtingen
    portf_cumrendement = (portf_eindcumrendement - portf_startcumrendement) / portf_startcumrendement


    overview = ['{:,.2f}'.format(portf_startwaarde), '{:,.2f}'.format(portf_stortingen), '{:,.2f}'.format(portf_deponeringen), 
    '{:,.2f}'.format(portf_onttrekkingen), '{:,.2f}'.format(portf_lichtingen),'{:,.2f}'.format(portf_eindwaarde), '{:.2%}'.format(portf_startcumrendement), '{:.2%}'.format(portf_eindcumrendement), '{:,.2f}'.format(portf_absrendement), '{:.2%}'.format(portf_cumrendement)]

    df_final = pd.DataFrame([overview], columns = ['Start Waarde', 'Stortingen', 'Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Start Cum Rend', 'Eind Cum Rend', 'Abs Rendement', 'Periode Cum Rendement'])
    return df_final

In [67]:
ZoekPortfOntwikkeling(klant, start, end)

KeyError: 0

In [60]:
klant.tail()

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement
Datum,,,,,,,,,
2020-08-10,805800.38,0.0,0.0,0.00,0.00,806212.71,0.000512,0.964590,0.965084
2020-08-11,806212.71,0.0,0.0,0.00,0.00,811664.73,0.006763,0.965084,0.971610
2020-08-12,811664.73,0.0,0.0,0.00,0.00,813689.27,0.002494,0.971610,0.974034
2020-08-13,813689.27,0.0,0.0,35159.48,0.00,778529.79,0.000000,0.974034,0.974034
2020-08-13,NaN,0.0,0.0,0.00,776714.79,NaN,0.000000,0.974034,0.974034

In [61]:
start, end

('2019-12-31', '2020-08-13')

In [62]:
klant.loc[[end]]

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement
Datum,,,,,,,,,
2020-08-13,813689.27,0.0,0.0,35159.48,0.00,778529.79,0.0,0.974034,0.974034
2020-08-13,NaN,0.0,0.0,0.00,776714.79,NaN,0.0,0.974034,0.974034

In [71]:
x = 295704
df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')

In [72]:
df_onttrekking

            Onttrekkingen
Datum
2020-08-13       35159.48

In [73]:
df_lichtingen

            Lichtingen
Datum
2020-08-13   776714.79

In [87]:
t = pd.concat([df_onttrekking, df_lichtingen]).groupby(['Datum']).sum()

In [88]:
t

            Onttrekkingen  Lichtingen
Datum
2020-08-13       35159.48   776714.79

In [109]:
def GetRendement(x):
    ### 1: creeeren van brug tussen sql query en database
    ### 2a: bepaal de eindwaarde per dag voor klant x
    ### 2b: bepaal de stortingen per dag voor klant x
    ### 2c: bepaal de deponeringen per dag voor klant x
    ### 2d: bepaal de onttrekkingen per dag voor klant x
    ### 2e: bepaal de lichtingen per dag voor klant x
     
    
    ### 1: creeeren van brug tussen sql query en database
    engine = create_engine('sqlite:///DatabaseVB1.db')
    
    
    ### 2a: bepaal de eindwaarde per dag voor klant x (datum, eindwaarde)
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Current_Value_in_EUR"),2) as "Eind Waarde" FROM Posrecon WHERE "Account_Number" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')
    
    
    ### 2b: bepaal de stortingen per dag voor klant x (datum, stortingen)
    ### (som van kolom invoice amount, indien OF (Transaction Type Code=O-G en Reference Code=5026) OF (Transaction Type Code=O-G en Reference Code=5000 en kolom invoice amount >0)
    df_stortingen = pd.read_sql (f'''  SELECT "Datum", sum("Invoice_Amount") as "Stortingen" FROM Traderecon WHERE "Account_Number" = "{x}"  AND "Reference_Code" = 5026 OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2c: bepaal de deponeringen per dag voor klant x (datum, deponeringen)
    ### som van kolom Deposit Value, indien (1) Transaction Type Code = D, of (2) Transaction Type Code = O en Deposit value > 0. 
    
    df_deponeringen = pd.read_sql (f''' SELECT "Datum", sum("Deposit_Value") as Deponeringen FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "D") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2d: bepaal de onttrekkingen per dag voor klant x (datum, onttrekkingen)
    ### (som van kolom invoice amount *-1, indien (1) Reference Code=5025, (2) Reference Code=5000 en invoice amount < 0.   
    df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
    df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')


    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data).fillna(0).groupby(['Datum']).sum()
    
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    df_final['Eind Waarde'] = df_final['Eind Waarde'].fillna(df_final['Start Waarde'] + df_final['Stortingen'] + 
                                                             df_final['Deponeringen'] - df_final['Onttrekkingen'] - 
                                                             df_final['Lichtingen'])
    
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] + df_final['Deponeringen'] - df_final['Onttrekkingen'] - df_final['Lichtingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)  
    
    
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)

    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [110]:
test = GetRendement(295704)

In [111]:
test

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement
Datum,,,,,,,,,
2019-12-31,NaN,0.0,0.0,0.00,0.00,835380.91,0.000000,NaN,1.000000
2020-01-01,835380.91,0.0,0.0,0.00,0.00,835380.91,0.000000,1.000000,1.000000
2020-01-02,835380.91,0.0,0.0,0.00,0.00,835258.91,-0.000146,1.000000,0.999854
2020-01-03,835258.91,0.0,0.0,0.00,0.00,840684.20,0.006495,0.999854,1.006348
2020-01-04,840684.20,0.0,0.0,0.00,0.00,840684.20,0.000000,1.006348,1.006348
...,...,...,...,...,...,...,...,...,...
2020-08-09,805800.38,0.0,0.0,0.00,0.00,805800.38,0.000000,0.964590,0.964590
2020-08-10,805800.38,0.0,0.0,0.00,0.00,806212.71,0.000512,0.964590,0.965084
2020-08-11,806212.71,0.0,0.0,0.00,0.00,811664.73,0.006763,0.965084,0.971610
2020-08-12,811664.73,0.0,0.0,0.00,0.00,813689.27,0.002494,0.971610,0.974034
2020-08-13,813689.27,0.0,0.0,35159.48,776714.79,1815.00,0.000000,0.974034,0.974034

In [99]:
t1 = test.fillna(0)

In [101]:
t1.groupby(['Datum']).sum()

            Onttrekkingen  Stortingen  Lichtingen  Deponeringen
Datum
2020-08-13       35159.48           0   776714.79             0

In [112]:
ZoekPortfOntwikkeling(test, start, end)

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Start Cum Rend,Eind Cum Rend,Abs Rendement,Periode Cum Rendement
0,nan,0.00,0.00,"35,159.48","776,714.79","1,815.00",nan%,97.40%,nan,nan%