In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [11]:
engine = create_engine('sqlite:///DatabaseVB.db')

In [30]:
# Het systeem kijkt in de database wat de start en eind datums zijn voor de rekeningnummer en geeft deze als output
def start_date(reknr):
    start_date = pd.read_sql(f'''
        select distinct(datum) from Posrecon where Account_Number = "{reknr}"
        union
        select distinct(datum) from Traderecon where Account_Number = "{reknr}"
        order by datum asc limit 1;
        ''', con = engine)
    final_start_date = pd.to_datetime(start_date['Datum'][0]).strftime("%Y-%m-%d")
    return final_start_date

def end_date(reknr):
    end_date = pd.read_sql(f'''
    select distinct(datum) from Posrecon where Account_Number = "{reknr}"
    union
    select distinct(datum) from Traderecon where Account_Number = "{reknr}"
    order by datum desc limit 1;
    ''', con = engine)
    final_end_date = pd.to_datetime(end_date['Datum'][0]).strftime("%Y-%m-%d")
    return final_end_date

# new_start_date = pd.to_datetime(database_start_date['Datum'][0]).strftime("%Y-%m-%d")
# new_end_date = pd.to_datetime(database_end_date['Datum'][0]).strftime("%Y-%m-%d")

In [65]:
end_date(295516)

'2020-10-12'

In [2]:
def GetRendement(x):
    ### 1: creeeren van brug tussen sql query en database
    ### 2a: bepaal de eindwaarde per dag voor klant x
    ### 2b: bepaal de stortingen per dag voor klant x
    ### 2c: bepaal de deponeringen per dag voor klant x
    ### 2d: bepaal de onttrekkingen per dag voor klant x
    ### 2e: bepaal de lichtingen per dag voor klant x
     
    
    ### 1: creeeren van brug tussen sql query en database
    engine = create_engine('sqlite:///DatabaseVB.db')
    
    
    ### 2a: bepaal de eindwaarde per dag voor klant x (datum, eindwaarde)
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Current_Value_in_EUR"),2) as "Eind Waarde" FROM Posrecon WHERE "Account_Number" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')
    
    
    ### 2b: bepaal de stortingen per dag voor klant x (datum, stortingen)
    ### (som van kolom invoice amount, indien OF (Transaction Type Code=O-G en Reference Code=5026) OF (Transaction Type Code=O-G en Reference Code=5000 en kolom invoice amount >0)
    df_stortingen = pd.read_sql (f'''  SELECT "Datum", sum("Invoice_Amount") as "Stortingen" FROM Traderecon WHERE "Account_Number" = "{x}"  AND "Reference_Code" = 5026 OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2c: bepaal de deponeringen per dag voor klant x (datum, deponeringen)
    ### som van kolom Deposit Value, indien (1) Transaction Type Code = D, of (2) Transaction Type Code = O en Deposit value > 0. 
    
    df_deponeringen = pd.read_sql (f''' SELECT "Datum", sum("Deposit_Value") as Deponeringen FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "D") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2d: bepaal de onttrekkingen per dag voor klant x (datum, onttrekkingen)
    ### (som van kolom invoice amount *-1, indien (1) Reference Code=5025, (2) Reference Code=5000 en invoice amount < 0.   
    df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
    df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')


    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data).fillna(0).groupby(['Datum']).sum()
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    #df_final['Start Waarde'] = df_final["Start Waarde"].fillna(df_final["Eind Waarde"])
    df_final['Eind Waarde'] = df_final['Eind Waarde'].fillna(df_final['Start Waarde'] + df_final['Stortingen'] + 
                                                             df_final['Deponeringen'] - df_final['Onttrekkingen'] - 
                                                             df_final['Lichtingen'])

    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] + df_final['Deponeringen'] - df_final['Onttrekkingen'] - df_final['Lichtingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)  
    
    
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)
    df_final['SW Portfolio Cumulatief Rendement'] = df_final['SW Portfolio Cumulatief Rendement'].fillna(1)
    #df_final['SW Portfolio Cumulatief Rendement'] = df_final['SW Portfolio Cumulatief Rendement'].fillna(1.0)
    #df_final['Eind Waarde'] =  pd.to_numeric(df_final['Eind Waarde'], downcast = 'float')
    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [5]:
def ZoekPortfOntwikkeling(data, sd, ed):

    df = data.loc[sd:ed]
    portf_startwaarde = df.loc[sd,['Start Waarde']][0]
    portf_stortingen = df.loc[sd:ed,['Stortingen']].sum()[0]
    portf_deponeringen = df.loc[sd:ed,['Deponeringen']].sum()[0]
    portf_onttrekkingen = df.loc[sd:ed,['Onttrekkingen']].sum()[0]
    portf_lichtingen = df.loc[sd:ed,['Lichtingen']].sum()[0]
    portf_eindwaarde = df.loc[ed,['Eind Waarde']][0]
    portf_startcumrendement = df.loc[sd,['SW Portfolio Cumulatief Rendement']][0]
    portf_eindcumrendement = df.loc[ed,['EW Portfolio Cumulatief Rendement']][0]
    portf_absrendement = portf_eindwaarde - portf_startwaarde - portf_stortingen - portf_deponeringen + portf_onttrekkingen + portf_lichtingen
    portf_cumrendement = (portf_eindcumrendement - portf_startcumrendement) / portf_startcumrendement


    overview = ['{:,.2f}'.format(portf_startwaarde), '{:,.2f}'.format(portf_stortingen), '{:,.2f}'.format(portf_deponeringen), 
    '{:,.2f}'.format(portf_onttrekkingen), '{:,.2f}'.format(portf_lichtingen),'{:,.2f}'.format(portf_eindwaarde), '{:.2%}'.format(portf_startcumrendement), '{:.2%}'.format(portf_eindcumrendement), '{:,.2f}'.format(portf_absrendement), '{:.2%}'.format(portf_cumrendement)]

    df_final = pd.DataFrame([overview], columns = ['Start Waarde', 'Stortingen', 'Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Start Cum Rend', 'Eind Cum Rend', 'Abs Rendement', 'Periode Cum Rendement'])
    return df_final

In [344]:
def rapport(klanten):
    empty = {}
    
    for klant in klanten:
        sd = start_date(klant)
        ed = end_date(klant)
        data = GetRendement(klant)
        overzicht = ZoekPortfOntwikkeling(data, sd ,ed)
        overzicht['Account_Number'] = klant
        overzicht['Start_Datum'] = sd
        overzicht['Eind_Datum'] = ed
        overzicht = overzicht.set_index(['Account_Number'])
        empty = overzicht.to_dict()
    return empty

In [345]:
test = rapport(list_account_numbers)

In [346]:
df = pd.DataFrame.from_dict(test)

In [347]:
test

{'Start Waarde': {295704: 'nan'},
 'Stortingen': {295704: '0.00'},
 'Deponeringen': {295704: '0.00'},
 'Onttrekkingen': {295704: '35,159.48'},
 'Lichtingen': {295704: '776,714.79'},
 'Eind Waarde': {295704: '1,815.00'},
 'Start Cum Rend': {295704: '100.00%'},
 'Eind Cum Rend': {295704: '97.40%'},
 'Abs Rendement': {295704: 'nan'},
 'Periode Cum Rendement': {295704: '-2.60%'},
 'Start_Datum': {295704: '2019-12-31'},
 'Eind_Datum': {295704: '2020-08-13'}}

In [368]:
list_account_numbers = [295516, 295610, 295704]

In [369]:
def rapport(klanten):
    empty = []
    for klant in klanten:
        sd = start_date(klant)
        ed = end_date(klant)
        data = GetRendement(klant)
        overzicht = ZoekPortfOntwikkeling(data, sd ,ed)
        overzicht['Account_Number'] = klant
        overzicht['Start_Datum'] = sd
        overzicht['Eind_Datum'] = ed
        overzicht = overzicht.set_index(['Account_Number'])
        empty.append(overzicht.iloc[0])
        df = pd.DataFrame(empty)
    return df

In [370]:
test = rapport(list_account_numbers)

In [371]:
test

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Start Cum Rend,Eind Cum Rend,Abs Rendement,Periode Cum Rendement,Start_Datum,Eind_Datum
295516,nan,"100,000.00",0.00,0.00,0.00,"1,213,493.57",100.00%,97.05%,nan,-2.95%,2019-12-31,2020-10-12
295610,nan,"104,350.00",0.00,"208,700.00",0.00,"516,968.75",100.00%,103.79%,nan,3.79%,2019-12-31,2020-10-12
295704,nan,0.00,0.00,"35,159.48","776,714.79","1,815.00",100.00%,97.40%,nan,-2.60%,2019-12-31,2020-08-13

In [373]:
klantenlijst = pd.read_sql(f'''
select distinct(account_number) from posrecon;
''', con = engine)

In [392]:
ab = klantenlijst.iloc[:,0]

In [400]:
for i in ab:
    print(i)

295516
295610
295704
295720

In [409]:

def klantenlijst():
    engine = create_engine('sqlite:///DatabaseVB.db')
    klantenlijst = pd.read_sql(f'''
    select distinct(account_number) from posrecon;
    ''', con = engine)
    klantenlist = klantenlijst.iloc[0:-1,0]
    return klantenlist


def start_date(reknr, start_d):
    engine = create_engine('sqlite:///DatabaseVB.db')
    start_date = pd.read_sql(f'''
        select distinct(datum) from Posrecon where Account_Number = "{reknr}"
        union
        select distinct(datum) from Traderecon where Account_Number = "{reknr}"
        order by datum asc limit 1;
        ''', con = engine)
    final_start_date = pd.to_datetime(start_date['Datum'][0]).strftime("%Y-%m-%d")

    if start_d < new_start_date:
            start_d = new_start_date
    return start_d
    
def end_date(reknr, end_d):
    engine = create_engine('sqlite:///DatabaseVB.db')
    end_date = pd.read_sql(f'''
    select distinct(datum) from Posrecon where Account_Number = "{reknr}"
    union
    select distinct(datum) from Traderecon where Account_Number = "{reknr}"
    order by datum desc limit 1;
    ''', con = engine)
    final_end_date = pd.to_datetime(end_date['Datum'][0]).strftime("%Y-%m-%d")
    
    if end_d > final_end_date:
        end_d = final_end_date
    return end_d

def rapport(klanten, sd):
    empty = []
    for klant in klanten:
        sd = start_date(klant, start_d)
        ed = end_date(klant)
        data = GetRendement(klant)
        overzicht = ZoekPortfOntwikkeling(data, sd ,ed)
        overzicht['Account_Number'] = klant
        overzicht['Start_Datum'] = sd
        overzicht['Eind_Datum'] = ed
        overzicht = overzicht.set_index(['Account_Number'])
        empty.append(overzicht.iloc[0])
        df = pd.DataFrame(empty)
    return df

In [410]:
rapport(klantenlijst())

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Start Cum Rend,Eind Cum Rend,Abs Rendement,Periode Cum Rendement,Start_Datum,Eind_Datum
295516,nan,"100,000.00",0.00,0.00,0.00,"1,213,493.57",100.00%,97.05%,nan,-2.95%,2019-12-31,2020-10-12
295610,nan,"104,350.00",0.00,"208,700.00",0.00,"516,968.75",100.00%,103.79%,nan,3.79%,2019-12-31,2020-10-12
295704,nan,0.00,0.00,"35,159.48","776,714.79","1,815.00",100.00%,97.40%,nan,-2.60%,2019-12-31,2020-08-13

In [411]:
klantenlijst()

0    295516
1    295610
2    295704
Name: Account_Number, dtype: int64

In [416]:
def Invoice_amount():
    engine = create_engine('sqlite:///DatabaseVB.db')
    df = pd.read_sql(f'''
    select Account_Number, Datum, Invoice_Amount
    from traderecon
    where Reference_code = 5200
    order by Account_number asc, Datum asc;
    ''', con = engine).set_index('Account_Number')
    return df

In [417]:
Invoice_amount()

                     Datum Invoice_Amount
Account_Number
295516          2020-07-01            -25
295516          2020-07-24           -105
295516          2020-07-24           -500
295610          2020-07-01            -25
295704          2020-05-22           71.7
295704          2020-07-01            -25
295704          2020-08-13          -1500
295704          2020-08-13           -315