In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import yfinance as yf
import streamlit as st
from datetime import datetime
import altair as alt
import os
import investpy

In [2]:
def GetRendement(x):
    ### 1: creeeren van brug tussen sql query en database
    ### 2a: bepaal de eindwaarde per dag voor klant x
    ### 2b: bepaal de stortingen per dag voor klant x
    ### 2c: bepaal de deponeringen per dag voor klant x
    ### 2d: bepaal de onttrekkingen per dag voor klant x
    ### 2e: bepaal de lichtingen per dag voor klant x
     
    
    ### 1: creeeren van brug tussen sql query en database
    engine = create_engine('sqlite:///DatabaseVB.db')
    
    
    ### 2a: bepaal de eindwaarde per dag voor klant x (datum, eindwaarde)
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Current_Value_in_EUR"),2) as "Eind Waarde" FROM Posrecon WHERE "Account_Number" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')
    
    
    ### 2b: bepaal de stortingen per dag voor klant x (datum, stortingen)
    ### (som van kolom invoice amount, indien OF (Transaction Type Code=O-G en Reference Code=5026) OF (Transaction Type Code=O-G en Reference Code=5000 en kolom invoice amount >0)
    df_stortingen = pd.read_sql (f'''  SELECT "Datum", sum("Invoice_Amount") as "Stortingen" FROM Traderecon WHERE "Account_Number" = "{x}"  AND "Reference_Code" = 5026 OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2c: bepaal de deponeringen per dag voor klant x (datum, deponeringen)
    ### som van kolom Deposit Value, indien (1) Transaction Type Code = D, of (2) Transaction Type Code = O en Deposit value > 0. 
    
    df_deponeringen = pd.read_sql (f''' SELECT "Datum", sum("Deposit_Value") as Deponeringen FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "D") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2d: bepaal de onttrekkingen per dag voor klant x (datum, onttrekkingen)
    ### (som van kolom invoice amount *-1, indien (1) Reference Code=5025, (2) Reference Code=5000 en invoice amount < 0.   
    df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
    df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')


    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data).fillna(0).groupby(['Datum']).sum()
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    #df_final['Start Waarde'] = df_final["Start Waarde"].fillna(df_final["Eind Waarde"])
    df_final['Eind Waarde'] = df_final['Eind Waarde'].fillna(df_final['Start Waarde'] + df_final['Stortingen'] + 
                                                             df_final['Deponeringen'] - df_final['Onttrekkingen'] - 
                                                             df_final['Lichtingen'])
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] + df_final['Deponeringen'] - df_final['Onttrekkingen'] - df_final['Lichtingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)  
    
    
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)
    df_final['SW Portfolio Cumulatief Rendement'] = df_final['SW Portfolio Cumulatief Rendement'].fillna(1)
    #df_final['SW Portfolio Cumulatief Rendement'] = df_final['SW Portfolio Cumulatief Rendement'].fillna(1.0)
    #df_final['Eind Waarde'] =  pd.to_numeric(df_final['Eind Waarde'], downcast = 'float')
    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [3]:
def getBenchmarkData(bench):
    conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')

    ticker = yf.Ticker(bench)
    df_benchmark = ticker.history(period='20y')

    df_benchmark.reset_index(inplace = True)
    df_benchmark.rename(columns = {'Date':'Datum', 'Open': 'Start Waarde', 'Close': 'Eind Waarde'}, inplace = True)
    #df_benchmark['Start Waarde'] = df_benchmark['Eind Waarde'].shift(1)
    df_benchmark['Benchmark Dag Rendement'] = ((df_benchmark['Eind Waarde'] - df_benchmark['Start Waarde']) / df_benchmark['Start Waarde']).round(5)
    df_benchmark['Benchmark Dag Rendement'] = df_benchmark['Benchmark Dag Rendement'].fillna(0)
    df_benchmark.to_sql(f'{bench}', if_exists = 'replace', con = conn)

    df = pd.read_sql(f'''
        SELECT substr(Datum, 1, 10) as "Datum", "Start Waarde", "Eind Waarde" FROM "{bench}"
    ''', con = engine).set_index("Datum")
    return df

In [4]:
def ZoekBenchmarkOntwikkeling(df, bench, start_date, end_date):
    df_klant = df.reset_index()
    df_klant = df_klant[['Datum']]
    bench = df_klant.merge(bench, how='left', on='Datum')#.groupby(['Datum']).mean()
    bench = bench.set_index('Datum')
    bench['Eind Waarde'] = bench['Eind Waarde'].fillna(method='ffill')
    bench["Start Waarde"] = bench["Eind Waarde"].shift(1)
    bench['Benchmark Dag Rendement'] = ((bench['Eind Waarde'] - bench['Start Waarde']) / bench['Start Waarde']).round(5)
    bench['Benchmark Dag Rendement'] = bench['Benchmark Dag Rendement'].fillna(0)

    new_benchmark_df = bench[start_date:end_date]
    bench_sw = new_benchmark_df.loc[start_date,["Start Waarde"]][0]
    bench_ew = new_benchmark_df.loc[end_date,["Eind Waarde"]][0]
    
    
    overview = ['{:.2f}'.format(bench_sw), '{:.2f}'.format(bench_ew)]
    df = pd.DataFrame([overview], columns =['Start Waarde', 'Eind Waarde'])
    
    df['Abs Rendement'] = '{:.2f}'.format(bench_ew - bench_sw)
    
    df['Rendement'] = '{:.2%}'.format((bench_ew - bench_sw) / bench_sw)
    
    return df

In [26]:
def KlantData(data, bench):
#     conn = sqlite3.connect('DatabaseVB.db')
#     engine = create_engine('sqlite:///DatabaseVB.db')
#     df_benchmark = pd.read_sql(f''' SELECT substr(datum,1,10) as Datum, "Open", "Eind Waarde" FROM "{bench}" ''',
#                               con = conn).set_index('Datum')
    
    klantdatum = data.reset_index()
    klantdatum = klantdatum[['Datum']]
    df = klantdatum.merge(bench, how = 'left', on = 'Datum' )#.groupby(['Datum']).mean()
    df = df.fillna(method = 'ffill')
    df['Benchmark Dag Rendement'] = ((df['Eind Waarde'] - df['Start Waarde']) / df['Start Waarde']).round(5)
    df['Benchmark Dag Rendement'] = df['Benchmark Dag Rendement'].fillna(0)
    df = df.fillna(method = 'bfill')
    df = df.set_index("Datum")
    return df

In [27]:
df = GetRendement(295516)

In [28]:
df.head()

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement
Datum,,,,,,,,,
2019-12-31,NaN,0.0,0.0,0.0,0.0,1147926.03,0.000000,1.000000,1.000000
2020-01-01,1147926.03,0.0,0.0,0.0,0.0,1147926.03,0.000000,1.000000,1.000000
2020-01-02,1147926.03,0.0,0.0,0.0,0.0,1147870.03,-0.000049,1.000000,0.999951
2020-01-03,1147870.03,0.0,0.0,0.0,0.0,1158957.67,0.009659,0.999951,1.009610
2020-01-04,1158957.67,0.0,0.0,0.0,0.0,1158957.67,0.000000,1.009610,1.009610

In [29]:
bench = getBenchmarkData("XMAW.MI")

C:\Users\ismet\anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [30]:
df3 = KlantData(df, bench)

In [31]:
df3

            Start Waarde  Eind Waarde  Benchmark Dag Rendement
Datum
2019-12-31         23.35        23.42                  0.00000
2020-01-01         23.35        23.42                  0.00000
2020-01-02         23.35        23.42                  0.00300
2020-01-03         23.36        23.38                  0.00086
2020-01-04         23.36        23.38                  0.00086
...                  ...          ...                      ...
2020-10-05         22.61        22.68                  0.00310
2020-10-06         22.69        22.74                  0.00220
2020-10-07         22.75        22.82                  0.00308
2020-10-08         22.99        23.01                  0.00087
2020-10-12         23.17        23.40                  0.00993

[284 rows x 3 columns]